:root {
  --color-primary: #FFD84C;
  --color-secondary: #242424;
  --placeholder: #948A8A;
  --error: #FF0000;
  --form-border-color: #dddddd; }

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0; }

html {
  box-sizing: border-box; }

body {
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-weight: 400; }

.main__section {
  display: flex;
  padding: 3%;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  flex-direction: column;
  flex: 0 0 70%; }

input[type=text] {
  padding: 1%;
  width: 100%;
  border: 1px solid  #948A8A; }

::placeholder {
  font-size: 13px;
  color: #948A8A; }

Label {
  line-height: 30px; }

textarea {
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  height: 7rem;
  width: 100%;
  border: 1px solid  #948A8A; }

.submit-btn {
  background-color: #FFD84C;
  color: black;
  font-size: 15px;
  cursor: pointer;
  width: 30%;
  font-style: poppins;
  font-weight: 800;
  height: 8vh;
  border: none; }

.error {
  font-size: 15px;
  font-style: italic;
  color: red;
  font-weight: 400; }

.error1 {
  font-size: 15px;
  margin-top: -5px;
  font-style: italic;
  color: red;
  font-weight: 400; }

.form-ouput {
  font-family: 'Poppins', sans-serif; }

.additional-details {
  font-family: inherit; }

.copy {
  display: flex;
  justify-content: center;
  font-size: 15px;
  padding-top: 1%;
  font-weight: 800;
  text-align: center;
  background-color: white;
  width: 30%;
  border: 3px solid #FFD84C;
  height: 8vh;
  cursor: pointer; }

.code-is-ready {
  font-weight: 800; }

#scrambled-word {
  border: 1px solid  #948A8A;
  height: auto;
  color: #948A8A;
  padding: 3%; }

.details-heading {
  font-weight: 800; }

li {
  padding: 3px; }

.matches {
  font-weight: 800; }

.hero {
  display: flex;
  flex: 0 0 30%; }
  .hero__container {
    overflow: hidden;
    background-color: #FFD84C;
    width: 35%;
    position: relative; }
  .hero__text-container {
    margin-top: 2.5rem; }
  .hero__logo-text {
    text-decoration: none;
    text-transform: uppercase;
    font-style: inherit;
    color: #000000;
    font-weight: 600;
    margin-left: 2rem;
    margin-top: 2.5rem; }

.hero__text {
  position: absolute;
  position: absolute;
  width: 357px;
  height: 171px;
  left: 2rem;
  top: 178px; }
  .hero__text-details {
    position: absolute;
    width: 342px;
    height: 78px;
    top: 80px; }
  .hero__text-web-arrow {
    position: absolute;
    width: 226px;
    height: 63.23px;
    left: 150px;
    top: 135px; }

.decription__list-heading {
  position: relative;
  width: 102px;
  height: 26px;
  left: 2rem;
  top: 540px;
  font-weight: 600; }

.decription__list-heading-list {
  position: relative;
  width: 370px;
  height: 220px;
  left: 1.5rem;
  top: 550px; }

.mobile__container {
  opacity: 0;
  display: none; }

.main__section {
  display: flex;
  flex-direction: column;
  flex: 0 0 70%; }

ol > li {
  padding: 8px; }
