.hero {
  display:flex;
  flex: 0 0 30%;
  &__section {
    background-color: #FFD84C;
    height: 100vh;
  }

  &__container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }

  &__header {
    
  }

  &__text-container {
    margin-top: 2.5rem;
  }

  &__logo-text {
    text-decoration: none;
    text-transform: uppercase;
    font-style: inherit;
    color: #000000;
    font-weight: 600;
    margin-left: 2rem;
    margin-top: 2.5rem;
  }

  &__text-details {
    
  }
}

.hero__text {
  position: relative;
  margin-left: 2rem;
  margin-top: -9rem;

  // &-arrow {
  //   margin-right: 2rem;
  // }

  &-heading {
    
  }

  &-details {
    
  }

  &-web-arrow {
   position: absolute;
   left: 11rem;
   top: 20rem;
  }

  &-mobile-arrow {
    
  }
}

.description {
  // margin-left: 2rem;
  // margin-bottom: 2rem;
  margin-bottom: 2rem !important;

  &__list-heading {
    padding-bottom: 2rem !important;
    margin: 0 auto;

    &-item {
  padding-bottom: 3rem !important;
  margin-left: 2rem !important;
}
    
    
  }
}




.mobile__container {
  opacity: 0;
  display: none;
  
}

.main__section {
  display: flex;
  flex-direction: column;
  flex: 0 0 70%;
  &-container {
    
  }
}