.hero {
  display:flex;
  flex: 0 0 30%;
  &__section {
    // background-color: #FFD84C;
  }

  &__container {
    overflow: hidden;
    background-color: #FFD84C;
    // height: 100vh;
    width: 35%;
    position: relative;
    // position: fixed;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-evenly;
    }

  &__header {
    
  }

  &__text-container {
    margin-top: 2.5rem;
    // width: 1rem;
  }

  &__logo-text {
    text-decoration: none;
    text-transform: uppercase;
    font-style: inherit;
    color: #000000;
    font-weight: 600;
    margin-left: 2rem;
    margin-top: 2.5rem;
  }

  &__text-details {
    
  }
}

.hero__text {
  // display: flex;
  // flex-direction: column;
  position: absolute;
  // margin-left: 2rem;
  // margin-top: -9rem;
  position: absolute;
  width: 357px;
  height: 171px;
  left: 2rem;
  top: 178px;

  // &-arrow {
  //   margin-right: 2rem;
  // }

  &-heading {
    
  }

  &-details {
    position: absolute;
    width: 342px;
    height: 78px;
    top: 80px;
  }

  &-web-arrow {
    position: absolute;
    width: 226px;
    height: 63.23px;
    left: 150px;
    top: 135px;
  }

  &-mobile-arrow {
    
  }
}


  // margin-left: 2rem;
  // margin-bottom: 2rem;
 

  .decription__list-heading {
    position: relative;
    width: 102px;
    height: 26px;
    left: 2rem;
    top: 540px;
    font-weight: 600;

  }

.decription__list-heading-list {
  position: relative;
  width: 370px;
  height: 220px;
  left: 1.5rem;
  top: 550px;
}
    
    
  





.mobile__container {
  opacity: 0;
  display: none;
  
}

.main__section {
  display: flex;
  flex-direction: column;
  flex: 0 0 70%;
  
  &-container {
    
  }
}

ol > li {
  padding: 8px;
}